version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    container_name: tasktest_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: .
    container_name: tasktest_api
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "3000:3000"
    command: ["/bin/sh", "/app/entrypoint.sh"]

volumes:
  postgres_data:
